html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
  }

#logo-img {
    width: 30px;
    height: 30px;
}

#chart {
    width: 600px;
    height: 600px;
    padding: 20px;
}